<div id="header-topbar-option-demo" class="page-header-topbar">
    <nav id="topbar" class="navbar navbar-default navbar-static-top" style="margin-bottom:0;z-index:2;" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo" href='#' class="navbar-brand">
                <span class="fa fa-rocket"></span>
                <span class="logo-text">Stock</span>
            </a>
        </div>
        <div class="topbar-main">
            <ul class="nav navbar navbar-top-links navbar-right mbn">
                @Html.Action("LanguageSelection", "Layout")
            </ul>
        </div>
    </nav>
</div>