@{
    ViewBag.ActiveMenu = "TestA"; //The menu item will be active for this page.
}

@section scripts {
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/vendors/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/vendors/jquery-cookie/jquery.cookie.js"></script>
    <!--CORE JAVASCRIPT-->
    <script src="~/Views/Home/typeahead.bundle.js"></script>
    <script src="~/js/main.js"></script>
}
<div>
    <div class="input-group input-group-lg">        
        <input id="searchbar" placeholder="股票" type="text" class="form-control" name="test" />
        <span class="input-group-btn">
            <button class="btn btn-blue" type="button">Go!</button>
        </span>
    </div>
</div>