
@{
    ViewBag.Title = "股票首页";
}
<!--搜索栏-->
<div class="input-group">
    <input id="searchbar" placeholder="股票" type="text" class="form-control" name="searchbar" />
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
</div>
<!--我的股票池-->
<div>

</div>

